@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  vertical-align: top;
  @include cat-body('m');
}

:host([hidden]) {
  display: none;
}

.cat-input-wrapper {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0 0.75rem;
  height: cat-size('m');
  overflow: hidden;
  background: cat-token('color.ui.background.input');
  border-radius: cat-border-radius('m');
  box-shadow: 0 0 0 1px cat-token('color.ui.border.input');
  transition: box-shadow cat-token('time.transition.s') linear;

  &.cat-input-round {
    border-radius: 10rem;
  }

  &.cat-input-disabled {
    background: cat-token('color.ui.background.inputDisabled');
    cursor: not-allowed;
    color: cat-token('color.ui.font.muted');
  }

  &:not(.cat-input-disabled) {
    &:hover {
      box-shadow: 0 0 0 2px cat-token('color.ui.border.input');
    }

    &:focus-within {
      outline: 2px solid cat-token('color.ui.border.focus');
    }
  }
}

label {
  display: block;
  align-self: flex-start;

  &.hidden {
    @include cat-visually-hidden;
  }
}

.cat-input-optional {
  margin-left: 0.25rem;
  @include cat-body('xs');
  color: cat-token('color.ui.font.muted');
}

.cat-text-prefix,
.cat-text-suffix {
  display: inline-flex;
  align-items: center;
  @include cat-select(none);
}

.cat-text-prefix {
  border-right: 1px solid cat-token('color.ui.border.input');
  padding-right: 0.5rem;
}

.cat-text-suffix {
  border-left: 1px solid cat-token('color.ui.border.input');
  padding-left: 0.5rem;
}

.cat-icon-prefix,
.cat-icon-suffix {
  align-self: center;
}

.cat-input-inner-wrapper {
  display: flex;
  position: relative;
}

input {
  font: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
  border: none;
  outline: none;
  background: none;

  .cat-input-disabled & {
    cursor: not-allowed;
    color: cat-token('color.ui.font.muted');
  }

  &.cat-has-clearable {
    padding-right: cat-size('s');
  }

  &::placeholder {
    color: cat-token('color.ui.font.muted');
  }
}

.cat-clearable {
  position: absolute;
  top: calc(50% - cat-size('s') / 2);
  right: -0.25rem;
}

.cat-input-hint {
  @include cat-body('s');
  margin: 0;
}
