@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: inline-flex;
  flex-direction: column;
  @include cat-body('m');
}

.cat-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid red;
  border-radius: cat-border-radius('m');
  // background: cat-token('color.ui.background.input');
  overflow: hidden;
  //padding: cat-size('s') * 0.25 cat-size('l') * 0.25;
  //column-gap: cat-size('s') * 0.25;
}


label {
  display: block;
  // color: cat-token('color.ui.font.muted');
  // @include cat-body('s');
  // padding: 0;
  margin: 0 0 0.25rem;
}

.cat-input-optional {
  @include cat-body('s');
  color: cat-token('color.ui.font.muted');
  margin-left: .25rem;
}

.cat-text-prefix,
.cat-text-suffix {
  // background: cat-token('color.ui.background.inputPrefix');
  color: cat-token('color.ui.font.muted');
  padding: cat-size('s') * 0.25;
  @include cat-select(none);
}

.cat-icon-prefix,
.cat-icon-suffix {
  margin: .5rem;
}

input {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  //padding: cat-size('s') * 0.25 cat-size('l') * 0.25;

}

.cat-input-hint {
  color: cat-token('color.ui.font.muted');
  @include cat-body('s');
  padding: 0;
  margin: 0.25rem 0 0;
}
