@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
  margin-bottom: $cat-body-margin-bottom;
  border-radius: cat-border-radius('l');
  background-color: cat-token('color.ui.background.body');
  box-shadow: inset 0 0 0 1px cat-token('color.ui.border.default');
  padding: 1.5rem;
}

:host([hidden]) {
  display: none;
}

::slotted(:last-child) {
  margin-bottom: 0 !important;
}
