@use 'variables' as *;
@use 'mixins' as *;
@use 'src/components/cat-form-hint/cat-form-hint';

:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  margin-bottom: $cat-body-margin-bottom;
}

:host([hidden]) {
  display: none;
}

label {
  align-self: flex-start;

  &.hidden {
    @include cat-visually-hidden;
  }
}

.input-optional {
  margin-left: 0.25rem;
  @include cat-body('xs');
  color: cat-token('color.ui.font.muted');
}

.select-wrapper {
  display: flex;
  align-items: flex-start;
  background: cat-token('color.ui.background.input');
  border-radius: cat-border-radius('m');
  box-shadow: 0 0 0 1px cat-token('color.ui.border.dark');
  transition: box-shadow cat-token('time.transition.s') linear;
  padding: 0.25rem;

  &:not(.select-disabled):hover {
    box-shadow: 0 0 0 2px cat-token('color.ui.border.dark');
  }

  &:not(.select-disabled):focus-within {
    outline: 2px solid cat-token('color.ui.border.focus');
  }
}

:host(.cat-error) {
  .select-wrapper {
    box-shadow: 0 0 0 1px cat-token('color.theme.danger.bg');

    &:not(.input-disabled):hover {
      box-shadow: 0 0 0 2px cat-token('color.theme.danger.bg');
    }
  }
}

.select-disabled {
  background: cat-token('color.ui.background.inputDisabled');
  cursor: not-allowed;
  color: cat-token('color.ui.font.muted');
  pointer-events: none;
}

.select-wrapper-inner {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  min-width: 0;

  > cat-avatar {
    padding-left: 0.25rem;
  }

  cat-avatar {
    --cat-avatar-size: 1.25rem;
  }
}

.select-input {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0.375rem 0.5rem;
  flex: 1 1 auto;
  @include cat-ellipsis;

  .select-disabled & {
    cursor: inherit;
  }
}

.select-pills {
  display: contents;
}

.pill {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background: cat-token('color.ui.background.select.pill');
  border-radius: cat-border-radius('s');
  white-space: nowrap;
  min-width: 0;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > cat-button {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
  }
}

.select-btn {
  transition: transform cat-token('time.transition.s') linear;

  &::part(button) {
    outline: none;
  }
}

cat-spinner {
  padding: 0.375rem;
}

.select-btn-open {
  transform: rotate(180deg);
}

.select-dropdown {
  position: absolute;
  right: 0;
  background: cat-token('color.ui.background.body');
  display: none;
  overflow: auto;
  // -webkit-overflow-scrolling: touch;
  @include cat-elevation(1);
  border-radius: cat-border-radius('m');
  z-index: $cat-menu-z-index;
}

.select-options-wrapper {
  max-height: 16rem;
  width: 100%;
}

.select-empty {
  margin: $cat-body-margin-bottom 0;
  padding: 0 1.25rem;
}

.select-options {
  list-style-type: none;
  margin: 0;
  padding: $cat-body-margin-bottom * 0.5 0;

  cat-checkbox,
  .select-option-single {
    margin: 0;
    padding: 0.5rem 1rem;
  }
}

.select-option-inner {
  display: flex;
  gap: 0.5rem;

  --cat-avatar-size: 1.25rem;
}

.select-option-tag,
.select-option-single {
  cursor: pointer;
}

.select-input-transparent-caret {
  caret-color: transparent;
}

.select-option-empty,
.select-option-loading,
.select-option-tag {
  padding: 0.5rem 1rem;
}

.select-option:hover {
  background-color: cat-token('color.theme.secondary.bg', 0.05);
}

.select-option-active {
  outline: 2px solid cat-token('color.ui.border.focus');
  outline-offset: -2px;
}

.select-option-label {
  @include cat-ellipsis(2);
}

.select-option-description {
  @include cat-ellipsis(2);
  color: cat-token('color.ui.font.muted');
}
