@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(cat-token('color.ui.background.modal.wrapper'), 60%);
  z-index: 2;
  display: flex;

  &[aria-hidden='true'] {
    display: none;
  }
}

.modal {
  margin: auto;
  z-index: 2;
  position: relative;
  background-color: cat-token('color.ui.background.modal.body');
  border-radius: cat-border-radius('l');
  max-width: 100%;
  padding: 32px;
}

.modal-header {
  display: flex;
  justify-content: end;
  align-self: stretch;

  .close-button::part(button) {
    box-shadow: unset;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin: 16px 0;
}

@mixin size($size) {
  .modal-#{$size} {
    width: cat-token('size.modal.#{$size}');
  }
}

@include size('s');
@include size('m');
@include size('l');
