@use 'variables' as *;
@use 'mixins' as *;

@import '~flatpickr/dist/flatpickr.css';

:host {
  display: inline-flex;
  margin-bottom: $cat-body-margin-bottom;
}

:host([hidden]) {
  display: none;
}

input {
  display: none;
}

.flatpickr-calendar {
  box-shadow: unset;
  background: unset;
}
