:host {
  display: block;
}

.tab {
  box-shadow: inset 0 -1px 0 0 #d7dbe0;
  padding: 0.5rem;
}

.tab-active {
  box-shadow: inset 0 -3px 0 0 #207f8a;
}

.tab-align-left::part(button) {
  justify-content: start;
}

.tab-align-center::part(button) {
  justify-content: center;
}

.tab-align-justify::part(button) {
  justify-content: space-between;
}
