@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: inline-flex;
  align-items: center;
  min-height: 2.5rem;
}

:host([hidden]) {
  display: none;
}

.input-optional {
  margin-left: 0.25rem;
  @include cat-body('xs');
  color: cat-token('color.ui.font.muted');
}
