@use '../variables' as *;

@mixin cat-font-ss3v($path) {
  @font-face {
    font-family: 'Source Sans 3';
    src:
      url('#{$path}/#{cat-token("asset.font.ss3v.woff2")}') format('woff2'),
      url('#{$path}/#{cat-token("asset.font.ss3v.woff")}') format('woff');
    font-weight: 200 900;
    font-style: normal;
    @content
  }
}
