@use 'sass:list';
@use '../variables' as *;

@mixin cat-font-lato($path, $weights...) {
  @if list.index($weights, 100) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-hairline}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-hairline}') format('woff');
      font-style: normal;
      font-weight: 100;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-hairline-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-hairline-italic}') format('woff');
      font-style: italic;
      font-weight: 100;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 200) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-thin}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-thin}') format('woff');
      font-style: normal;
      font-weight: 200;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-thin-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-thin-italic}') format('woff');
      font-style: italic;
      font-weight: 200;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 300) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-light}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-light}') format('woff');
      font-style: normal;
      font-weight: 300;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-light-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-light-italic}') format('woff');
      font-style: italic;
      font-weight: 300;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 400) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-regular}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-regular}') format('woff');
      font-style: normal;
      font-weight: 400;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-italic}') format('woff');
      font-style: italic;
      font-weight: 400;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 500) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-medium}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-medium}') format('woff');
      font-style: normal;
      font-weight: 500;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-medium-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-medium-italic}') format('woff');
      font-style: italic;
      font-weight: 500;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 600) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-semibold}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-semibold}') format('woff');
      font-style: normal;
      font-weight: 600;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-semibold-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-semibold-italic}') format('woff');
      font-style: italic;
      font-weight: 600;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 700) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-bold}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-bold}') format('woff');
      font-style: normal;
      font-weight: 700;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-bold-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-bold-italic}') format('woff');
      font-style: italic;
      font-weight: 700;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 800) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-heavy}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-heavy}') format('woff');
      font-style: normal;
      font-weight: 800;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-heavy-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-heavy-italic}') format('woff');
      font-style: italic;
      font-weight: 800;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
  @if list.index($weights, 900) {
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-black}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-black}') format('woff');
      font-style: normal;
      font-weight: 900;
      text-rendering: optimizeLegibility;
      @content;
    }
    @font-face {
      font-family: Lato;
      src:
        url('#{$path}/#{$cat-asset-font-lato-woff2-black-italic}') format('woff2'),
        url('#{$path}/#{$cat-asset-font-lato-woff-black-italic}') format('woff');
      font-style: italic;
      font-weight: 900;
      text-rendering: optimizeLegibility;
      @content;
    }
  }
}
