@use 'fonts.mixins' as *;

@include cat-font-dm-sans('./assets/fonts/', 500) {
  font-display: swap;
}

@include cat-font-lato('./assets/fonts/', 300, 400, 700) {
  font-display: fallback;
}

@include cat-font-azeret('./assets/fonts/', 400) {
  font-display: fallback;
}
