@use '../variables' as *;
@use '../mixins' as *;

html,
body {
  background-color: cat-token('color.ui.background.canvas');
}

body {
  @include cat-body('m');
  font-family: cat-token('font.family.base'), $font-fallback-base, cat-token('font.family.emoji'), $font-fallback-emoji;
  color: cat-token('color.ui.font.base');
}
