@use '../variables' as *;
@use '../mixins' as *;

// ---- Typography

body {
  @include cat-body('m');
  font-family: cat-body-font-family();
  color: cat-token('color.ui.font.body');
  background-color: cat-token('color.ui.background.canvas');
}
