@use '../variables' as *;
@use '../mixins' as *;

.cat-backdrop {
  background-color: cat-token('color.ui.background.backdrop', cat-token('opacity.backdrop'));
  
  &.cdk-overlay-backdrop {
    transition-duration: cat-token('time.transition.l');
  }
}

.cat-dialog {
  background-color: cat-token('color.ui.background.body');
  border-radius: cat-border-radius('l');
  @include cat-elevation(7);

  .cdk-dialog-container > *:only-child {
    display: block;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
}