@use '../variables' as *;
@use '../mixins' as *;

.cat-form {
  .cat-form-element,
  :is(
    cat-checkbox,
    cat-datepicker,
    cat-inline,
    cat-input,
    cat-radio-group,
    cat-select,
    cat-textarea,
    cat-toggle,
    cat-date,
    cat-time
  ):not(:last-child) {
    margin-bottom: calc(1rem * var(--cat-form-spacer, 1));
  }

  cat-radio:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.cat-label {
  @include cat-body('m');
  display: block;
  margin-bottom: 0.5rem;
}
