@use '../variables' as *;
@use '../mixins' as *;

.cat-form {
  .cat-form-element,
  :is(cat-checkbox, cat-datepicker, cat-inline, cat-input, cat-radio-group, cat-select, cat-textarea, cat-toggle):not(
      :last-child
    ) {
    margin-bottom: calc($cat-form-margin-bottom * var(--cat-form-spacer, 1));
  }

  cat-radio:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.cat-label {
  @include cat-body('m');
  display: block;
  margin-bottom: 0.5rem;
}
