@use '../variables' as *;
@use '../mixins' as *;

nav {
  hr,
  .cat-hr {
    margin: 0.25rem -0.25rem;
  }

  .cat-nav-head,
  .cat-nav-text {
    padding: $cat-nav-padding-horizontal * 0.75 $cat-nav-padding-horizontal;

    > :last-child {
      margin-bottom: 0 !important;
    }
  }

  .cat-nav-head {
    @include cat-head(5);
  }
}
