@use '../variables';

.cat-table {
  th {
    font-weight: 600;
    border-bottom: 2px solid variables.cat-token('color.ui.border.default');
    text-align: left;
    vertical-align: bottom;
  }
  tr {
    border-bottom: 1px solid variables.cat-token('color.ui.border.default');

    > * {
      padding: 1rem 0.25rem;
    }

    td {
      vertical-align: top;
    }
  }
}
