@use '../variables' as *;
@use '../mixins' as *;

$-background-color: cat-token('color.base.neutral.0');
$-text-color: cat-token('color.base.neutral.900');
$-title-border: cat-token('color.base.neutral.300');
$-shadow: cat-token('color.ui.border.dark');
$-error-color: cat-token('color.theme.danger.text');
$-info-color: cat-token('color.base.orange.700');
$-success-color: cat-token('color.theme.success.text');
$-secondary-color: cat-token('color.base.neutral.900');
$-primary-color: cat-token('color.base.brand.400');

.cat-toastify {
  background: $-background-color;
  color: $-text-color;
  padding: 0;
  border-radius: 0.5rem;
  @include cat-elevation(1);

  .toast-close {
    float: right;
    font-size: 20px;
    margin-top: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .cat-toastify-wrapper {
    display: block;
    position: relative;

    .cat-toastify-icon-wrapper {
      position: absolute;
      top: 1.1rem;
      left: 1.125rem;

      &.error {
        color: $-error-color;
      }

      &.success {
        color: $-success-color;
      }

      &.primary {
        color: $-primary-color;
      }

      &.secondary {
        color: $-secondary-color;
      }

      &.info {
        color: $-info-color;
      }
    }

    .cat-toastify-title-wrapper {
      width: 100%;
      padding: 1.2rem 1.2rem 1.2rem 3rem;

      &.has-message {
        margin-bottom: -2.25rem;
      }

      .cat-toastify-title {
        width: 100%;
        padding-right: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
        line-height: 20px;
        color: $-text-color;
      }
    }

    .cat-toastify-message {
      width: 100%;
      padding: 1.5rem 1.5rem 1.5rem 1.25rem;
      color: $-text-color;
    }
  }
}
