@use '../variables' as *;
@use '../mixins' as *;

body {
  @include cat-body('m');
}

h1,
h2,
h3,
h4,
h5,
h6,
.cat-h1,
.cat-h2,
.cat-h3,
.cat-h4,
.cat-h5,
.cat-h6 {
  margin-top: 0;
  margin-bottom: $cat-head-margin-bottom;
  font-weight: cat-token('font.weight.head');
}

h1,
.cat-h1 {
  @include cat-head(1);
}

h2,
.cat-h2 {
  @include cat-head(2);
}

h3,
.cat-h3 {
  @include cat-head(3);
}

h4,
.cat-h4 {
  @include cat-head(4);
}

h5,
.cat-h5 {
  @include cat-head(5);
}

h6,
.cat-h6 {
  @include cat-head(6);
}

p {
  margin-top: 0;
  margin-bottom: $cat-body-margin-bottom;
}

hr {
  margin: $cat-body-margin-bottom 0;
  height: 1px;
  border: 0;
  background-color: cat-token('color.ui.border.default');
}

// ----- links

a {
  color: cat-token('color.theme.primary.text');
  text-decoration: $cat-link-text-decoration;
  transition: color cat-token('time.transition.s') linear;

  &:hover {
    color: cat-token('color.theme.primary.textHover');
    text-decoration: $cat-link-text-decoration-hover;
  }

  &:active {
    color: cat-token('color.theme.primary.textActive');
  }

  &:focus-visible {
    outline: $cat-focus-outline;
    // outline-offset: -2px;
  }
}

a[tabindex='-1']:focus {
  outline: none;
}

// ----- emphasis

b,
strong,
.cat-strong {
  font-weight: 600;
}

mark,
.cat-mark {
  padding: 0.125rem 0.25rem;
  background-color: $cat-mark-color;
}

small,
.cat-small {
  font-size: 0.875em;
}

.cat-underline {
  text-decoration: underline;
}

.cat-line-through {
  text-decoration: line-through;
}

// ----- lists

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;

  ol,
  ul,
  dl {
    margin-bottom: 0;
  }
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

// ----- lead

.cat-lead {
  @include cat-body('xl', 300);
}

// ----- blockquotes & figures

blockquote {
  margin: 0 0 $cat-body-margin-bottom;
  font-style: italic;
  @include cat-body('l');
  color: cat-token('color.ui.font.quote');

  > :last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0 0 $cat-body-margin-bottom;

  figcaption {
    margin-top: -$cat-body-margin-bottom * 0.5;
    margin-bottom: 0;
    @include cat-body('s');
    color: cat-token('color.ui.font.quoteSource');

    &::before {
      content: '\2014\00A0'; // em dash, nbsp
    }
  }
}
