@use 'sass:map';
@use '../variables' as *;

@function cat-head-font-size($size) {
  @return map.get($cat-head-font-size, $size);
}

@function cat-head-line-height($size) {
  @return map.get($cat-head-line-height, $size);
}

@mixin cat-head($size, $weight: null) {
  font-size: cat-head-font-size($size);
  line-height: cat-head-line-height($size);
  font-weight: $weight;
}

@function cat-body-font-size($size) {
  @return map.get($cat-body-font-size, $size);
}

@function cat-body-line-height($size) {
  @return map.get($cat-body-line-height, $size);
}

@mixin cat-body($size, $weight: null) {
  font-size: cat-body-font-size($size);
  line-height: cat-body-line-height($size);
  font-weight: $weight;
}

@mixin cat-break-word {
  word-wrap: break-word;
  word-break: break-word;
}

@mixin cat-ellipsis($lines: 1) {
  @if $lines == 1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@mixin cat-select($select: auto) {
  -webkit-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
