// --------
// -- Colors
// --------

$cat-n0: #fff;
$cat-n25: #f9f9fb;
$cat-n35: #f2f4f7;
$cat-n50: #ebecf0;
$cat-n75: #d7dbe0;
$cat-n100: #a8b1ba;
$cat-n200: #697687;
$cat-n300: #313d4d;
$cat-n400: #202d40;
$cat-n500: #192638;
$cat-n600: #101d30;

$cat-b75: #ebf5ff;
$cat-b100: #cce6ff;
$cat-b200: #73b9ff;
$cat-b300: #2693ff;
$cat-b400: #0073e6;
$cat-b500: #0060bf;

$cat-g75: #dafbee;
$cat-g100: #9cedcb;
$cat-g200: #57d9a3;
$cat-g300: #36b37e;
$cat-g400: #00875a;
$cat-g500: #064;

$cat-r75: #ffebe6;
$cat-r100: #ffbdad;
$cat-r200: #ff8f73;
$cat-r300: #ff5531;
$cat-r400: #dd350d;
$cat-r500: #bf2600;

$cat-o75: #fffae6;
$cat-o100: #fff0b3;
$cat-o200: #ffe380;
$cat-o300: #ffc400;
$cat-o400: #ffab00;
$cat-o500: #ff991f;

$cat-p75: #f2e6ff;
$cat-p100: #d9b3ff;
$cat-p200: #c182ff;
$cat-p300: #b366ff;
$cat-p400: #9a33ff;
$cat-p500: #8627e6;


$cat--c400: 32,126,138;
$cat--c500: 26,101,110;
$cat--c600: 19,76,83;
$cat--r400: 212,20,20;
$cat--r500: 170,16,16;
$cat--r600: 127,12,12;
$cat--g400: 0,135,90;
$cat--g500: 0,108,72;
$cat--g600: 0,81,54;
