// --------
// -- Colors
// --------

// Base color palettes. Not to be used directly, but only as a basis for other
// variables.
// colors -400+ are valid on #fff bg

$cat-neutral-0: #ffffff;
$cat-neutral-100: #ebecf0;
$cat-neutral-200: #d7dbe0;
$cat-neutral-400: #697687;
$cat-neutral-700: #000000;

$cat-primary-100: #c9e5e8;
$cat-primary-200: #2db3c3;
$cat-primary-300: #29a3b1;
$cat-primary-400: #207f8a;
$cat-primary-500: #1c707a;
$cat-primary-600: #19656e;
$cat-primary-700: #175b63;

$cat-danger-100: #fbc7bb;
$cat-danger-200: #f68368;
$cat-danger-300: #f46a49;
$cat-danger-400: #d9340d;
$cat-danger-500: #c22e0b;
$cat-danger-600: #ae2a0a;
$cat-danger-700: #9e2609;

$cat-success-100: #d4ede4;
$cat-success-200: #00bb7d;
$cat-success-300: #00aa71;
$cat-success-400: #008458;
$cat-success-500: #00754e;
$cat-success-600: #006946;
$cat-success-700: #005f40;

$cat-warning-100: #ffdea8;
$cat-warning-200: #ffd694;
$cat-warning-300: #ffce80;
$cat-warning-400: #ffc66b;
$cat-warning-500: #ebb663;
$cat-warning-600: #d6a75a;
$cat-warning-700: #9f6100;

$cat-black: #000;
$cat-white: #fff;

$cat-base-100: #ebecf0;
$cat-base-200: #d7dbe0;
$cat-base-400: #697687;
$cat-base-700: #464d57;
$cat-base-900: #0a080a;

// $cat-citron-50: #ffebcb;
// $cat-citron-100: #fff2dc;
// $cat-citron-200: #ffdea8;
// $cat-citron-400: #a66700;
// $cat-citron-700: #8d5800;
// $cat-n0: #fff;rgb(17, 17, 16)
// $cat-n25: #f9f9fb;
// $cat-n35: #f2f4f7;
// $cat-n50: #ebecf0;
// $cat-n75: #d7dbe0;
// $cat-n100: #a8b1ba;
// $cat-n200: #697687;
// $cat-n300: #313d4d;
// $cat-n400: #202d40;
// $cat-n500: #192638;
// $cat-n600: #101d30;

// $cat-b75: #ebf5ff;
// $cat-b100: #cce6ff;
$cat-blue-200: #73b9ff;
// $cat-b300: #2693ff;
// $cat-b400: #0073e6;
// $cat-b500: #0060bf;

// $cat-g75: #dafbee;
// $cat-g100: #9cedcb;
// $cat-g200: #57d9a3;
// $cat-g300: #36b37e;
// $cat-g400: #00875a;
// $cat-g500: #064;

// $cat-r75: #ffebe6;
// $cat-r100: #ffbdad;
// $cat-r200: #ff8f73;
// $cat-r300: #ff5531;
// $cat-r400: #dd350d;
// $cat-r500: #bf2600;

// $cat-o75: #fffae6;
// $cat-o100: #fff0b3;
// $cat-o200: #ffe380;
// $cat-o300: #ffc400;
// $cat-o400: #ffab00;
// $cat-o500: #ff991f;

// $cat-p75: #f2e6ff;
// $cat-p100: #d9b3ff;
// $cat-p200: #c182ff;
// $cat-p300: #b366ff;
// $cat-p400: #9a33ff;
// $cat-p500: #8627e6;

// $cat-cyan-400: #207f8a;
// $cat-cyan-500: #1a656e;
// $cat-cyan-600: #134c53;
// $cat-red-400: #d41414;
// $cat-red-500: #aa1010;
// $cat-red-600: #7f0c0c;
// $cat-green-400: #00875a;
// $cat-green-500: #006c48;
// $cat-green-600: #005136;
