@use 'sass:color';
@use 'sass:map';
@use 'variables.colors' as *;

@forward 'variables.colors';

$cat-size: (
  xs: 1.5rem,
  s: 2rem,
  m: 2.5rem,
  l: 3rem,
  xl: 3.5rem
);

// --------
// -- Breakpoints
// --------

$cat-breakpoints: (
  xs: 540px,
  s: 768px,
  m: 992px,
  l: 1200px,
  xl: 1400px
);

// --------
// -- Spacings
// --------

$cat-spacings: (
  xs: 0.25rem,
  s: 0.5rem,
  m: 1rem,
  l: 1.5rem,
  xl: 2rem
);

// --------
// -- Theming
// --------

// $cat-focus-transition: 0.15s linear;
$cat-disabled-opacity: 0.65;
$cat-color-transition: 0.15s linear;
$cat-focus-outline: 2px solid var(--cat-focus-color, $cat-b200);

$cat-border-color: $cat-n100; //TODO
$cat-border-color-weak: $cat-n50; //TODO
$cat-border-color-strong: $cat-n200; //TODO
$cat-mark-color: red; //TODO
$cat-quote-color: red; //TODO
$cat-quote-source-color: blue; //TODO

// ---- Color palettes

$cat-theme: (
  primary: (
    bg: var(--cat-primary-bg, $cat--c400),
    bg-hover: var(--cat-primary-bg-hover, $cat--c500),
    bg-active: var(--cat-primary-bg-active, $cat--c600),
    fill: var(--cat-primary-fill, $cat-n0),
    fill-hover: var(--cat-primary-fill-hover, $cat-n0),
    fill-active: var(--cat-primary-fill-active, $cat-n0),
    text: var(--cat-primary-text, $cat--c400),
    text-hover: var(--cat-primary-text-hover, $cat--c600),
    text-active: var(--cat-primary-text-active, $cat--c600)
  ),
  secondary: (
    bg: var(--cat-secondary-bg, $cat-n35),
    bg-hover: var(--cat-secondary-bg-hover, $cat-n50),
    bg-active: var(--cat-secondary-bg-active, $cat-n75),
    fill: var(--cat-secondary-fill, $cat-n400),
    fill-hover: var(--cat-secondary-fill-hover, $cat-n400),
    fill-active: var(--cat-secondary-fill-active, $cat-n400),
    text: var(--cat-secondary-text, $cat-n200),
    text-hover: var(--cat-secondary-text-hover, $cat-n200),
    text-active: var(--cat-secondary-text-active, $cat-n200)
  ),
  error: (
    bg: var(--cat-error-bg, $cat--r400),
    bg-hover: var(--cat-error-bg-hover, $cat--r500),
    bg-active: var(--cat-error-bg-active, $cat--r600),
    fill: var(--cat-error-fill, $cat-n0),
    fill-hover: var(--cat-error-fill-hover, $cat-n0),
    fill-active: var(--cat-error-fill-active, $cat-n0),
    text: var(--cat-error-text, $cat--r400),
    text-hover: var(--cat-error-text-hover, $cat--r600),
    text-active: var(--cat-error-text-active, $cat--r600)
  ),
  success: (
    bg: var(--cat-success-bg, $cat--g400),
    bg-hover: var(--cat-success-bg-hover, $cat--g500),
    bg-active: var(--cat-success-bg-active, $cat--g600),
    fill: var(--cat-success-fill, $cat-n0),
    fill-hover: var(--cat-success-fill-hover, $cat-n0),
    fill-active: var(--cat-success-fill-active, $cat-n0),
    text: var(--cat-success-text, $cat--g400),
    text-hover: var(--cat-success-text-hover, $cat--g600),
    text-active: var(--cat-success-text-active, $cat--g600)
  ),
);

// --------
// -- Typography
// --------

$cat-head-margin-bottom: 0.5rem;
$cat-body-margin-bottom: 1rem;
$cat-link-text-decoration: none;
$cat-link-text-decoration-hover: underline;

// ---- Head

$cat-head-font-face: 'Lato', sans-serif;
$cat-head-font-weight: 600;
$cat-head-font-size: (
  1: 1.75rem,
  2: 1.5rem,
  3: 1.25rem,
  4: 1.125rem,
  5: 0.9375rem,
  6: 0.875rem
);
$cat-head-line-height: (
  1: 2rem,
  2: 1.75rem,
  3: 1.5rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem
);

// ---- Body

$cat-body-font-face: 'Lato', sans-serif;
$cat-body-font-weight: 400;
$cat-body-font-size: (
  xl: 1.25rem,
  l: 1.125rem,
  m: 0.9375rem,
  s: 0.875rem,
  xs: 0.75rem
);
$cat-body-line-height: (
  xl: 1.5rem,
  l: 1.5rem,
  m: 1.25rem,
  s: 1rem,
  xs: 1rem
);

$cat-border-radius: (
  s: var(--cat-border-radius-s, 0.125rem),
  m: var(--cat-border-radius-m, 0.25rem),
  l: var(--cat-border-radius-l, 0.5rem)
);

// ---- Mono

$cat-mono-font-face: Menlo, monospace;

// --------
// -- Elevations
// --------

$cat-elevation-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$cat-elevation: (
  0: none,
  1: (
    0 1px 4px 0 rgba(16, 29, 48, 0.2)
  ),
  2: (
    0 2px 4px -1px rgba(16, 29, 48, 0.2),
    0 4px 5px 0 rgba(16, 29, 48, 0.26),
    0 1px 10px -1px rgba(16, 29, 48, 0.12)
  ),
  3: (
    0 2px 4px -1px rgba(16, 29, 48, 0.2),
    0 9px 16px -3px rgba(16, 29, 48, 0.14),
    0 10px 20px -8px rgba(16, 29, 48, 0.12)
  ),
  4: (
    0 2px 4px -1px rgba(16, 29, 48, 0.05),
    0 9px 16px -3px rgba(16, 29, 48, 0.14),
    0 32px 20px -20px rgba(16, 29, 48, 0.2)
  )
);
