@use 'variables.tokens' as *;
@forward 'variables.tokens';

// --------
// -- Spacings
// --------

$cat-head-margin-bottom: 0.5rem;
$cat-body-margin-bottom: 1rem;
$cat-nav-padding-horizontal: 1.25rem;

// --------
// -- Typography
// --------

$cat-mark-color: cat-token('color.theme.primary.bg', 0.2);

// --------
// -- z-indexes
// --------

$cat-menu-z-index: 100 !default;
$cat-tooltip-z-index: 200 !default;

// --------
// -- Elevations
// --------

$cat-elevation-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$cat-elevation: (
  0: none,
  1: (
    0 1px 4px 0 rgba(16, 29, 48, 20%)
  ),
  2: (
    0 2px 4px -1px rgba(16, 29, 48, 20%),
    0 4px 5px 0 rgba(16, 29, 48, 26%),
    0 1px 10px -1px rgba(16, 29, 48, 12%)
  ),
  3: (
    0 2px 4px -1px rgba(16, 29, 48, 20%),
    0 9px 16px -3px rgba(16, 29, 48, 14%),
    0 10px 20px -8px rgba(16, 29, 48, 12%)
  ),
  4: (
    0 2px 4px -1px rgba(16, 29, 48, 5%),
    0 9px 16px -3px rgba(16, 29, 48, 14%),
    0 32px 20px -20px rgba(16, 29, 48, 20%)
  )
);
