// -- Reset
@import '~sanitize.css/sanitize.css';
@import '~sanitize.css/reduce-motion.css';

// -- Vendor
@import '~toastify-js/src/toastify.css';

// -- Fonts
@import 'fonts/fonts-mixins';

// -- Core
@import 'core/base';
@import 'core/form';
@import 'core/nav';
@import 'core/notification';
@import 'core/typography';

// -- Utils
@import 'utils/color';
@import 'utils/display';
@import 'utils/elevation';
@import 'utils/layout';
@import 'utils/sizing';
@import 'utils/spacing';
@import 'utils/typography';
@import 'utils/visibility';
@import 'utils/ratio';

// -- Includes
$cat-font-path: 'assets/fonts' !default;
@include cat-fonts($cat-font-path);
