// -- Reset

@use '../../node_modules/sanitize.css/sanitize.css';
@use '../../node_modules/sanitize.css/assets.css';
@use '../../node_modules/sanitize.css/reduce-motion.css';

// -- Core

@use 'core/base' as *;
@use 'core/nav' as *;
@use 'core/typography' as *;

// -- Fonts

@use 'fonts/fonts' as *;

// -- Utils

@use 'utils/display';
@use 'utils/elevation';
@use 'utils/sizing';
@use 'utils/spacing';
@use 'utils/typography';
@use 'utils/visibility';
