@use 'sass:map';

@forward 'utils/elevation.mixins';
@forward 'utils/responsive.mixins';
@forward 'utils/typography.mixins';
@forward 'utils/visibility.mixins';

@import 'variables'; //TODO

@function cat-size($size) {
  @return map.get($cat-size, $size);
}

@function cat-body-font-size($size) {
  @return map.get($cat-body-font-size, $size);
}

@function cat-body-line-height($size) {
  @return map.get($cat-body-line-height, $size);
}

@mixin cat-body($size, $weight: $cat-body-font-weight) {
  font-size: cat-body-font-size($size);
  line-height: cat-body-line-height($size);
  font-weight: $weight;
}

@function cat-border-radius($size) {
  @return map.get($cat-border-radius, $size);
}
