$elevation-transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
$scrollable-shadow: 0 0 4px 1px rgba(16, 29, 48, 0.20);

:host {
  overflow: hidden;
  position: relative;
  display: flex;
}

:host(.scroll-x) {
  .scrollable-content {
    overflow-x: auto;
  }
}

:host(.scroll-y) {
  .scrollable-content {
    overflow-y: auto;
  }
}

:host(.no-overscroll) {
  .scrollable-content {
    overscroll-behavior: contain;
  }
}

.scrollable-content {
  overflow: hidden;
  white-space: nowrap;
}

.shadow-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.shadow-wrapper.cat-scrollable-top .shadow-top,
.shadow-wrapper.cat-scrollable-bottom .shadow-bottom,
.shadow-wrapper.cat-scrollable-left .shadow-left,
.shadow-wrapper.cat-scrollable-right .shadow-right {
  box-shadow: $scrollable-shadow;
}

// ----- scroll shadows

%shadow {
  position: absolute;
  transition: $elevation-transition;
}

.shadow-top {
  @extend %shadow;
  z-index: 2;
  width: 100%;
  top: 0;
}

.shadow-left {
  @extend %shadow;
  z-index: 4;
  height: 100%;
  left: 0;
}

.shadow-right {
  @extend %shadow;
  z-index: 4;
  height: 100%;
  right: 0;
}

.shadow-bottom {
  @extend %shadow;
  z-index: 2;
  width: 100%;
  bottom: 0;
}
