@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: contents;
}

:host([hidden]) {
  display: none;
}

.tooltip {
  position: absolute;
  @include cat-body('s', 500);
  padding: 0.5rem 0.75rem;
  background-color: cat-token('color.ui.background.tooltip');
  border-radius: cat-border-radius('m');
  color: cat-token('color.ui.font.tooltip');
  white-space: nowrap;
  transition: all 0.25s linear 0s;
  visibility: hidden;
  opacity: 0;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 8px 0;
  border: 1px solid cat-token('color.ui.border.default');

  &-show {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip-trigger {
  display: inline-block;

  &:focus {
    outline: none;
  }
}
