@use 'variables' as *;
@use 'mixins' as *;

$-max-width: 16rem;
$-box-shadow: rgb(0 0 0 / 8%) 0 1px 8px 0;

:host {
  display: contents;
}

:host([hidden]) {
  display: none;
}

.tooltip {
  position: absolute;
  @include cat-body('s', 500);
  padding: 0.75rem;
  background-color: cat-token('color.ui.background.tooltip');
  border-radius: cat-border-radius('m');
  color: cat-token('color.ui.font.tooltip');
  transition: opacity cat-token('time.transition.m') linear, visibility cat-token('time.transition.m') linear;
  visibility: hidden;
  opacity: 0;
  box-shadow: $-box-shadow;
  z-index: $cat-tooltip-z-index;
  max-width: $-max-width;

  &-show {
    opacity: 1;
    visibility: visible;
  }
}

// ----- round

.tooltip-round {
  border-radius: 10rem;
}

// ----- trigger

.tooltip-trigger {
  display: inline-block;

  &:focus {
    outline: none;
  }
}
