@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:map';

// == datepicker variables == //

$dp-background-color: #{cat-token('color.ui.background.surface')};
$dp-border-color: #{cat-token('color.ui.border.default')};
$dp-border-radius: #{cat-token('size.border.radius.m')};
$dp-border-radius-small: #{cat-token('size.border.radius.s')};
$dp-font-size-normal: #{cat-token('size.font.body.m')};
$dp-font-size-small: #{cat-token('size.font.body.s')};
$dp-dropdown-shadow: map.get($cat-elevation, 4);
$dp-dropdown-z: 20;

$dp-cell-size-base: 2.5rem;
$dp-cell-prevnext-color: #{cat-token('color.ui.font.muted')};
$dp-cell-disabled-color: #{cat-token('color.ui.font.muted')};
$dp-cell-selected-background-color: #{cat-token('color.theme.primary.bg')};
$dp-cell-selected-color: #{cat-token('color.theme.primary.fill')};
$dp-cell-selected-font-weight: 700;
$dp-cell-today-background-color: transparent;
$dp-cell-today-color: #{cat-token('color.theme.primary.text')};
$dp-cell-highlighted-background-color: #{cat-token('color.ui.background.muted')};
// $dp-range-start-end-background-color: $grey-light !default;
// $dp-range-start-end-color: $dp-cell-selected-color !default;
// $dp-range-background-color: $grey-lighter !default;
// $dp-range-today-background-color: $dp-cell-today-background-color !default;
$dp-week-color: #{cat-token('color.ui.font.muted')};
$dp-footer-background-color: transparent;

// == calculated variables == //

$dp-dow-height: 2rem;
$dp-view-width: 17.5rem;
$dp-header-hover-background-color: #{cat-token('color.ui.background.muted')};
$dp-header-active-background-color: #{cat-token('color.ui.background.muted')};
$dp-cell-hover-background-color: transparent;
$dp-cell-focus-background-color: #{cat-token('color.ui.background.muted')};
$dp-cell-today-focus-background-color: #{cat-token('color.ui.background.muted')};
$dp-cell-highlighted-hover-background-color: #{cat-token('color.ui.background.muted')};
$dp-cell-prevnext-selected-color: #{cat-token('color.theme.primary.fill')};
// $dp-range-start-end-focus-background-color: color.scale($dp-range-start-end-background-color, $lightness: -2.5%) !default;
// $dp-range-hover-background-color: color.scale($dp-range-background-color, $lightness: -2.5%) !default;
// $dp-range-focus-background-color: color.scale($dp-range-background-color, $lightness: -5%) !default;
// $dp-range-disabled-background-color: color.scale($dp-range-background-color, $lightness: -10%) !default;

$dp-title-box-shadow: none;
$dp-footer-box-shadow: none;
$dp-input-in-edit-box-shadow: none;

// == styles == //

@import '~vanillajs-datepicker/sass/datepicker';

// == style overrides == //

.datepicker-picker {
  border: 1px solid cat-token('color.ui.border.default');
}

.datepicker-main {
  padding: 0.5rem 1rem;
}

.datepicker-view:has(.week-numbers) {
  width: 19.375rem;
}

.datepicker-view.months,
.datepicker-view.years {
  width: 20rem;
}

// == headlines == //

.datepicker .dow,
.datepicker .week {
  @include cat-body(xs, $weight: 700);
  color: cat-token('color.ui.font.muted');
}

// == highlighs == //

.datepicker-cell.today:not(.selected) {
  box-shadow: inset 0 0 0 2px cat-token('color.theme.primary.bg');
}

.datepicker-cell.focused:not(.selected),
.datepicker-cell:not(.selected):not(.disabled):hover {
  background-color: cat-token('color.ui.background.muted');
}

// == controls == //

.datepicker-controls {
  gap: 0.5rem;

  .datepicker-header & {
    padding: 1rem 1rem 0;

    .button {
      height: 2.5rem;
    }

    .prev-button,
    .next-button {
      flex-basis: 2.5rem;
      font-size: 1.25rem;
    }
  }

  .datepicker-footer & {
    padding: 0 1rem 1rem;

    .button {
      margin: 0;
      height: 2.5rem;
      font-size: cat-body-font-size(m);

      &:hover,
      &:active {
        border-color: #{cat-token('color.ui.border.dark')};
      }
    }
  }
}

.datepicker.weekly .datepicker-view:not(.months):not(.years) .datepicker-grid :nth-child(7n + 1) {
  &::before {
    content: '';
    width: 700%;
    height: 100%;
    border-radius: cat-token('size.border.radius.m');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
  }

  &.today:not(.selected)::before {
    box-shadow: inset 0 0 0 1.5px #008194;
    border-radius: cat-token('size.border.radius.m');
    opacity: 1;
  }

  &:not(:hover)::before {
    background: none;
  }

  &:hover::before {
    opacity: 1;
    background-color: $dp-cell-hover-background-color;
  }

  &.selected,
  &.selected.focused {
    color: white;

    &::before {
      opacity: 1;
      background-color: $dp-cell-selected-background-color;
      z-index: -1;
    }
  }

  &.focused {
    background: none;

    &::before {
      opacity: 1;
      background-color: $dp-cell-focus-background-color;
      z-index: -1;
    }
  }
}

.datepicker.weekly .datepicker-view:not(.months):not(.years) .datepicker-grid .datepicker-cell {
  position: relative;

  &.selected,
  &.focused {
    z-index: 2;
  }

  &.today {
    &:not(.selected) {
      box-shadow: none;
    }
  }

  &:not(.disabled):hover {
    background-color: inherit;
  }

  &.focused {
    background: none;
  }
}
