@use 'variables' as *;
@use 'mixins' as *;

.hint-wrapper {
  flex: 0 1 auto;
  display: flex;
  gap: 0.5rem;
}

.hint-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: $cat-color-ui-font-muted;
  @include cat-body('s', null);

  .input-hint,
  ::slotted([slot='hint']) {
    margin: 0 !important;
  }
}
