@use 'variables' as *;
@use 'mixins' as *;

.hint-section {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  .input-hint,
  ::slotted([slot='hint']) {
    @include cat-body('s');
    margin: 0 !important;
  }
}

:host-context(.cat-error) {
  .hint-section {
    color: cat-token('color.theme.danger.text');
  }
}
