@use 'variables' as *;

.hint-wrapper {
  flex: 0 1 auto;
  display: flex;
  gap: 0.5rem;
}

.hint-section {
  flex: 1 1 auto;
  min-width: 0;
}

.input-hint,
::slotted([slot='hint']) {
  color: cat-token('color.ui.font.muted');
  line-height: 1.5;
  flex: 1 1 auto;
  min-width: 0;
}
