<h1>Catalyst Demo</h1>
<h2>Dialog</h2>
<button (click)="openDialog()">Open</button>
<h2>Form Components</h2>
<form [formGroup]="form">
  <h1>new datepicker & timepicker</h1>
  <cat-date label="Date" formControlName="date2" clearable></cat-date>
  <cat-time label="Time" formControlName="time" clearable></cat-time>
  <pre>{{ form.getRawValue() | json }}</pre>
  <cat-input
    label="Input"
    formControlName="test"
    textPrefix="write 'aaa' to make it valid"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="this is a hint"
  ></cat-input>
  <cat-input label="relatedInput" formControlName="relatedInput" [errorUpdate]="4000"></cat-input>
  <cat-textarea
    label="Textarea"
    formControlName="test"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="this is a hint"
  ></cat-textarea>
  <cat-select
    label="Select"
    formControlName="option"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="this is a hint"
    [connector]="countryConnector"
    [clearable]="true"
  ></cat-select>
  <!--  Datepicker Section 1 -->
  <cat-checkbox #checkBox label="Should toggle between date and datetime"> </cat-checkbox>
  <cat-datepicker
    [mode]="checkBox.checked ? 'date' : 'datetime'"
    label="Datepicker"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="Depends on [disabled] attribute"
  ></cat-datepicker>
  <!--  Datepicker Section 2 -->
  <cat-checkbox
    (catChange)="onCheckboxChange($event)"
    formControlName="datepickerDisabled"
    label="Should disable next datepicker"
  >
  </cat-checkbox>
  <cat-datepicker
    label="Datepicker"
    formControlName="date"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="Depends on formControl state"
  ></cat-datepicker>
  <formly-form [form]="form" [fields]="fields"></formly-form>
  <cat-checkbox>
    <div slot="label">
      <div>LABEL START</div>
      <div>Subline</div>
    </div>
  </cat-checkbox>
  <cat-checkbox alignment="center">
    <div slot="label">
      <div>LABEL CENTER</div>
      <div>Subline</div>
    </div>
  </cat-checkbox>
  <cat-checkbox alignment="bottom">
    <div slot="label">
      <div>LABEL END</div>
      <div>Subline</div>
    </div>
  </cat-checkbox>
  <cat-toggle>
    <div slot="label">
      <div>LABEL START</div>
      <div>Subline</div>
    </div>
  </cat-toggle>
  <cat-toggle alignment="center">
    <div slot="label">
      <div>LABEL CENTER</div>
      <div>Subline</div>
    </div>
  </cat-toggle>
  <cat-toggle alignment="bottom">
    <div slot="label">
      <div>LABEL END</div>
      <div>Subline</div>
    </div>
  </cat-toggle>
  <cat-radio>
    <div slot="label">
      <div>LABEL START</div>
      <div>Subline</div>
    </div>
  </cat-radio>
  <cat-radio alignment="center">
    <div slot="label">
      <div>LABEL CENTER</div>
      <div>Subline</div>
    </div>
  </cat-radio>
  <cat-radio alignment="bottom">
    <div slot="label">
      <div>LABEL END</div>
      <div>Subline</div>
    </div>
  </cat-radio>
</form>
