<h1>Catalyst Demo</h1>
<h2>Dialog</h2>
<button (click)="openDialog()">Open</button>
<h2>Form Components</h2>
<form [formGroup]="form">
  <cat-input
    label="Input"
    formControlName="test"
    textPrefix="write 'aaa' to make it valid"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="this is a hint"
  ></cat-input>
  <cat-input label="relatedInput" formControlName="relatedInput" [errorUpdate]="4000"></cat-input>
  <cat-textarea
    label="Textarea"
    formControlName="test"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="this is a hint"
  ></cat-textarea>
  <cat-select
    label="Select"
    formControlName="option"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="this is a hint"
    [connector]="countryConnector"
    [clearable]="true"
  ></cat-select>
  <cat-datepicker
    label="Datepicker"
    formControlName="date"
    [nativeAttributes]="{ 'data-test': 'test-attribute' }"
    hint="this is a hint"
  ></cat-datepicker>
  <formly-form [form]="form" [fields]="fields"></formly-form>
</form>

EXAMPLE: with auto close
<cat-dropdown noAutoClose="true">
  <cat-button class="filter-button" slot="trigger" variant="text" icon="filter-outlined" color="secondary"
              icon-only="true"></cat-button>
  <nav slot="content">
      <cat-datepicker icon="calendar-outlined" mode="date" [clearable]="true"></cat-datepicker>
  </nav>
</cat-dropdown>

EXAMPLE: Without auto close
<cat-dropdown>
  <cat-button class="filter-button" slot="trigger" variant="text" icon="filter-outlined" color="secondary"
              icon-only="true"></cat-button>
  <nav slot="content">
    <cat-datepicker icon="calendar-outlined" mode="date" [clearable]="true"></cat-datepicker>
  </nav>
</cat-dropdown>
