<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>

<button (click)="openDialog()">open</button>

<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>
<p>sdfdsfsdasd</p>