@use 'sass:map';
@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  @include cat-select(none);

  &[hidden] {
    display: none;
  }
}

.cat-button {
  font: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: cat-border-radius('m');
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: color cat-token('time.transition.s') linear, border-color cat-token('time.transition.s') linear,
    background-color cat-token('time.transition.s') linear, box-shadow cat-token('time.transition.s') linear;

  &:focus-visible {
    outline: $cat-focus-outline;
    outline-offset: 1px;
  }
}

// ----- content

.cat-button-content {
  flex: 1 1 auto;
  text-align: center;

  .cat-button-ellipsed & {
    @include cat-ellipsis;
  }
}

// ----- disabled

.cat-button-disabled {
  cursor: not-allowed;
  opacity: cat-token('opacity.disabled');
}

// ----- round

.cat-button-round {
  border-radius: 10rem;
}

// ----- loading

.cat-button-loading {
  cursor: default;

  cat-spinner {
    position: absolute;
  }

  > *:not(cat-spinner) {
    visibility: hidden;
  }
}

// ----- theme

.cat-button-filled {
  background-color: cat-token-wrap(var(--bg));
  color: cat-token-wrap(var(--fill));
  font-weight: 600;
  @include cat-font-smooth;
}

.cat-button-outlined {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px cat-token-wrap(var(--base), $alpha: 0.2);
  color: cat-token-wrap(var(--text));

  &:hover:not(.cat-button-disabled):not(.cat-button-loading) {
    background-color: cat-token-wrap(var(--base), $alpha: 0.05);
  }

  &:active:not(.cat-button-disabled):not(.cat-button-loading) {
    background-color: cat-token-wrap(var(--base), $alpha: 0.1);
  }
}

.cat-button-text {
  background-color: transparent;
  color: cat-token-wrap(var(--text));
  text-decoration: $cat-link-text-decoration;

  &:hover::not(.cat-button-disabled):not(.cat-button-loading) {
    text-decoration: $cat-link-text-decoration-hover;
  }
}

@mixin theme($theme) {
  .cat-button-#{$theme} {
    --base: #{cat-token('color.theme.#{$theme}.text', $wrap: false)};
    --bg: #{cat-token('color.theme.#{$theme}.bg', $wrap: false)};
    --fill: #{cat-token('color.theme.#{$theme}.fill', $wrap: false)};
    --text: #{cat-token('color.theme.#{$theme}.text', $wrap: false)};

    &:hover:not(.cat-button-disabled):not(.cat-button-loading) {
      --bg: #{cat-token('color.theme.#{$theme}.bgHover', $wrap: false)};
      --fill: #{cat-token('color.theme.#{$theme}.fillHover', $wrap: false)};
      --text: #{cat-token('color.theme.#{$theme}.textHover', $wrap: false)};
    }

    &:active:not(.cat-button-disabled):not(.cat-button-loading) {
      --bg: #{cat-token('color.theme.#{$theme}.bgActive', $wrap: false)};
      --fill: #{cat-token('color.theme.#{$theme}.fillActive', $wrap: false)};
      --text: #{cat-token('color.theme.#{$theme}.textActive', $wrap: false)};
    }
  }
}

@include theme('primary');
@include theme('secondary');
@include theme('success');
@include theme('warning');
@include theme('danger');

// ----- size

@mixin size($size, $fontSize, $padding) {
  $-line-height: cat-body-line-height($fontSize);
  $-total-height: cat-size($size);

  .cat-button-#{$size} {
    min-width: cat-size($size);
    padding: ($-total-height - $-line-height) * 0.5 $padding;
    @include cat-body($fontSize);

    .cat-button-prefix {
      margin-right: 0.25rem;
    }

    .cat-button-suffix {
      margin-left: 0.25rem;
    }

    // normalize icon size for line height
    @if $fontSize == 'm' {
      cat-icon {
        margin-top: -0.125rem;
        margin-bottom: -0.125rem;
      }
    }

    &.cat-button-icon {
      width: $-total-height;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include size('xs', 's', 0.25rem);
@include size('s', 'm', 0.5rem);
@include size('m', 'm', 0.75rem);
@include size('l', 'm', 1rem);
@include size('xl', 'l', 1.25rem);
