@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: row;
}

:host([hidden]) {
  display: none;
}

.tab {
  box-shadow: inset 0 -1px 0 0 cat-token('color.ui.border.tab');
  padding: 0.5rem;
}

.tab-active {
  box-shadow: inset 0 -3px 0 0 cat-token('color.ui.border.activeTab');
}

.tab-align-left::part(button) {
  justify-content: start;
}

.tab-align-center::part(button) {
  justify-content: center;
}

.tab-align-justify::part(button) {
  justify-content: space-between;
}
