@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 -1px 0 0 cat-token('color.ui.border.dark');
}

:host([hidden]) {
  display: none;
}

:host([tabs-align='center']) {
  justify-content: center;
}

:host([tabs-align='right']) {
  justify-content: end;
}

:host([tabs-align='justify']) {
  cat-button {
    flex: 1 0 auto;
  }
}

.tab {
  padding: 0.5rem 0;

  &.tab-active {
    box-shadow: inset 0 -3px 0 0 cat-token('color.theme.primary.bg');
  }
}
