@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 -1px 0 0 $cat-color-ui-border-default;
}

:host([hidden]) {
  display: none;
}

:host([tabs-align='center']) {
  justify-content: center;
}

:host([tabs-align='right']) {
  justify-content: end;
}

:host([tabs-align='justify']) {
  cat-button {
    flex: 1 0 auto;
  }
}

.cat-tab {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: none;

  &:first-of-type {
    margin-left: -0.75rem;
  }

  &:last-of-type {
    margin-right: -0.75rem;
  }

  &::after {
    opacity: 0;
    content: '';
    position: absolute;
    background: currentColor;
    left: 0.75rem;
    right: 0.75rem;
    bottom: 0;
    height: 2px;
  }

  &:hover::after {
    opacity: 0.25;
  }

  &.cat-tab-active {
    font-weight: 700;
    color: $cat-color-theme-primary-text-active;
  }

  &.cat-tab-error {
    color: $cat-color-theme-danger-text-active;
  }

  &.cat-tab-active::after {
    opacity: 1;
  }
}
