@import 'variables';
@import 'mixins';

$-min-width: 8rem;
$-max-width: 16rem;
$-min-height: 2rem;
$-max-height: calc(100vh - 48px);

:host {
  display: contents;
}

:host([hidden]) {
  display: none;
}

::slotted(nav) {
  padding-top: $cat-body-margin-bottom * 0.5;
  padding-bottom: $cat-body-margin-bottom * 0.5;
  min-width: $-min-width;
  max-width: $-max-width;
}

.content {
  position: fixed;
  background: cat-token('color.ui.background.surface');
  display: none;
  -webkit-overflow-scrolling: touch;
  min-height: $-min-height;
  max-height: $-max-height;
  @include cat-elevation(4);
  border-radius: cat-border-radius('m');
  z-index: $cat-dropdown-z-index;
  opacity: 0;
  transition: transform cat-token('time.transition.s') cubic-bezier(0.3, 0, 0.8, 0.15),
    opacity cat-token('time.transition.s') cubic-bezier(0.3, 0, 0.8, 0.15);

  &[data-placement^='top'] {
    transform: translateY(1rem);
  }

  &[data-placement^='left'] {
    transform: translateX(1rem);
  }

  &[data-placement^='right'] {
    transform: translateX(-1rem);
  }

  &[data-placement^='bottom'] {
    transform: translateY(-1rem);
  }

  &.show {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    transition: transform cat-token('time.transition.l') cubic-bezier(0.05, 0.7, 0.1, 1),
      opacity cat-token('time.transition.l') cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  &.overflow-auto {
    overflow: auto;
  }
}
