@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
}

.select-wrapper {
  display: flex;
  align-items: flex-start;
  background: cat-token('color.ui.background.input');
  border-radius: cat-border-radius('m');
  box-shadow: 0 0 0 1px cat-token('color.ui.border.input');
  transition: box-shadow cat-token('time.transition.s') linear;
  padding: 4px;

  &:hover {
    box-shadow: 0 0 0 2px cat-token('color.ui.border.input');
  }

  &.is-focused,
  &:focus-within {
    outline: 2px solid cat-token('color.ui.border.focus');
  }
}

.select-wrapper-inner {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  min-width: 0;
}

.select-input {
  @include cat-body('m');
  border: none;
  outline: none;
  padding: 6px 8px;
  flex: 1 1 auto;
}

.pill {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 4px 4px 8px;
  background: cat-token('color.ui.background.muted');
  border-radius: cat-border-radius('s');
  white-space: nowrap;
  min-width: 0;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.select-btn {
  transition: transform cat-token('time.transition.s') linear;
}

.select-btn-open {
  transform: rotate(180deg);
}

.select-dropdown {
  position: absolute;
  background: cat-token('color.ui.background.body');
  display: none;
  // overflow: auto;
  // -webkit-overflow-scrolling: touch;
  @include cat-elevation(1);
  border-radius: cat-border-radius('m');
  z-index: $cat-menu-z-index;
}

.select-options-wrapper {
  max-height: 16rem;
  width: 20rem;
}

.select-empty {
  margin: $cat-body-margin-bottom 0;
  padding: 0 1.25rem;
}

.select-options {
  list-style-type: none;
  margin: 0;
  padding: $cat-body-margin-bottom * 0.5 0;

  cat-checkbox {
    margin: 0;
    padding: 0.5rem 1rem;
  }
}

.select-option {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select-option-active {
  background-color: aliceblue;
}

.select-option-label {
  @include cat-ellipsis(2);
}

.select-option-description {
  @include cat-body('s');
  color: cat-token('color.ui.font.muted');
  @include cat-ellipsis(2);
}
