@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: inline-flex;
}

:host([hidden]) {
  display: none;
}

label {
  display: flex;
  gap: 0.5rem;
  @include cat-body('m');
  cursor: pointer;
}

.radio {
  display: flex;
  position: relative;
}

.circle {
  position: absolute;
  width: calc(cat-size('xs') / 2);
  height: calc(cat-size('xs') / 2);
  background-color: cat-token('color.theme.primary.bg');
  border-radius: 10rem;
  top: calc(50% - cat-size('xs') / 4);
  left: calc(50% - cat-size('xs') / 4);
  visibility: hidden;
}

input {
  margin: 0;
  width: calc(cat-size('m') / 2);
  height: calc(cat-size('m') / 2);
  appearance: none;
  background-color: cat-token('color.ui.background.input');
  border: 1px solid cat-token('color.ui.border.input');
  border-radius: 10rem;
  cursor: inherit;

  &:checked {
    border-color: cat-token('color.theme.primary.bg');

    + .circle {
      visibility: visible;
    }
  }

  &:focus-visible {
    outline: 2px solid cat-token('color.ui.border.focus');
    outline-offset: 1px;
  }
}

.label {
  .is-hidden & {
    @include cat-visually-hidden;
  }
}

.is-disabled {
  cursor: not-allowed;
  color: cat-token('color.ui.font.muted');

  input {
    background-color: cat-token('color.ui.background.inputDisabled');

    &:checked {
      border-color: cat-token('color.ui.border.input');
    }
  }

  .circle {
    background-color: cat-token('color.ui.border.input');
  }
}
