@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
}

.cat-radio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: relative;

  .cat-radio-label {
    @include cat-body('m');
    color: #000;
    margin: 0 12px;
  }

  .cat-radio-input {
    width: 20px;
    height: 20px;

    appearance: none;

    background: #FFF;
    border: 1px solid #E7E8EE;
    box-sizing: border-box;
    border-radius: 36px;
    margin: 0;

    &:checked {
      background: #FFF ;
      border: 1px solid #207F8A;
      box-sizing: border-box;
      border-radius: 36px;
    }

    &:checked + i {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 4px;
      top: 4px;

      background-color: #207F8A;
      border-radius: 32px;
    }
  }
}
