@use 'variables' as *;
@use 'mixins' as *;
@use 'src/components/cat-form-hint/cat-form-hint';

:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include cat-body('m');
  margin-bottom: $cat-body-margin-bottom;
}

:host([hidden]) {
  display: none;
}

label {
  align-self: flex-start;

  &.hidden {
    @include cat-visually-hidden;
  }
}

.input-optional {
  margin-left: 0.25rem;
  @include cat-body('xs');
  color: cat-token('color.ui.font.muted');
}

textarea {
  margin: 0;
  padding: 0.625rem 0.75rem;
  min-height: 2.5rem;
  font: inherit;
  background: cat-token('color.ui.background.input');
  border-radius: cat-border-radius('m');
  border: none;
  box-shadow: 0 0 0 1px cat-token('color.ui.border.dark');
  transition: box-shadow cat-token('time.transition.s') linear;
  resize: vertical;

  &:disabled {
    background: cat-token('color.ui.background.muted');
    cursor: not-allowed;
    color: cat-token('color.ui.font.muted');
    resize: none;
  }

  &:hover:not(:disabled) {
    box-shadow: 0 0 0 2px cat-token('color.ui.border.dark');
  }

  &:focus {
    outline: 2px solid cat-token('color.ui.border.focus');
  }

  &::placeholder {
    color: cat-token('color.ui.font.muted');
  }

  /* stylelint-disable property-no-vendor-prefix */
  &:-webkit-autofill {
    &,
    &:hover,
    &:focus {
      -webkit-box-shadow: 0 0 0 9999px cat-token('color.ui.background.inputAutofill') inset;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */
}
