@use 'variables' as *;
@use 'mixins' as *;
@use 'src/components/cat-form-hint/cat-form-hint';
@use 'utils/color';

$-textarea-min-height: 2.5rem;

:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include cat-body('m');
  margin-bottom: $cat-body-margin-bottom;
}

:host([hidden]) {
  display: none;
}

.textarea-field,
.textarea-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 auto;
}

.textarea-field.textarea-horizontal {
  flex-direction: row;
  gap: 1rem;
}

label {
  align-self: flex-start;
  overflow: hidden;
  @include cat-break-word;
}

.label-container {
  flex-basis: var(--label-size, 33.33%);

  &.hidden {
    @include cat-visually-hidden;
  }
}

.label-optional {
  margin-left: 0.25rem;
  @include cat-body('xs');
  color: cat-token('color.ui.font.muted');
}

.textarea-horizontal {
  label {
    min-height: $-textarea-min-height;
    display: inline-flex;
    align-items: center;
  }

  .label-optional {
    display: block;
    margin-top: 0.25rem;
    margin-left: 0;
  }
}

.textarea-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.icon-suffix {
  position: absolute;
  top: calc(0.625rem - 2px);
  right: 0.75rem;
  background: cat-token('color.ui.background.input', 0.75);
  border-radius: 100rem;

  .textarea-disabled & {
    background: cat-token('color.ui.background.muted', 0.75);
  }
}

textarea {
  margin: 0;
  padding: 0.625rem 0.75rem;
  min-height: $-textarea-min-height;
  font: inherit;
  background: cat-token('color.ui.background.input');
  border-radius: cat-border-radius('m');
  border: none;
  box-shadow: 0 0 0 1px cat-token('color.ui.border.dark');
  transition: box-shadow cat-token('time.transition.s') linear;
  resize: vertical;

  &:disabled {
    background: cat-token('color.ui.background.muted');
    cursor: not-allowed;
    color: cat-token('color.ui.font.muted');
    resize: none;
  }

  .textarea-invalid & {
    box-shadow: 0 0 0 1px cat-token('color.theme.danger.bg', 0.2);
  }

  &:hover:not(:disabled) {
    box-shadow: 0 0 0 2px cat-token('color.ui.border.dark');
  }

  .textarea-invalid &:hover:not(:disabled) {
    box-shadow: 0 0 0 2px cat-token('color.theme.danger.bg', 0.2);
  }

  &:focus {
    outline: 2px solid cat-token('color.ui.border.focus');
  }

  .textarea-invalid &:focus {
    outline: 2px solid cat-token('color.theme.danger.bg', 0.2);
  }

  &::placeholder {
    color: cat-token('color.ui.font.muted');
  }

  /* stylelint-disable property-no-vendor-prefix */
  &:-webkit-autofill {
    &,
    &:hover,
    &:focus {
      -webkit-box-shadow: 0 0 0 9999px cat-token('color.ui.background.inputAutofill') inset;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */
}
