@use 'variables' as *;
@use 'mixins' as *;

$checkbox-width: 20px;
$checkbox-height: 20px;
$checkbox-border-width: 1px;
$checkbox-checked-bg-size: 11.25px;
$checkbox-checked-bg: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4zNzUgMC4zMzMzMzVDMTEuNjUxMSAwLjU0MDQ0MSAxMS43MDcxIDAuOTMyMTkyIDExLjUgMS4yMDgzM0w1LjI1MDAxIDkuNTQxNjdDNS4xMzc4NSA5LjY5MTIxIDQuOTY0NjUgOS43ODI3IDQuNzc3OTEgOS43OTEwNUM0LjU5MTE3IDkuNzk5MzkgNC40MTA0OSA5LjcyMzcxIDQuMjg1NDUgOS41ODQ3N0wwLjUzNTQ0NyA1LjQxODFDMC4zMDQ1MzUgNS4xNjE1NCAwLjMyNTMzNCA0Ljc2NjM1IDAuNTgxOTAyIDQuNTM1NDRDMC44Mzg0NzEgNC4zMDQ1MyAxLjIzMzY1IDQuMzI1MzMgMS40NjQ1NiA0LjU4MTlMNC43MDYwOCA4LjE4MzU4TDEwLjUgMC40NTgzMzVDMTAuNzA3MSAwLjE4MjE5MiAxMS4wOTg5IDAuMTI2MjI4IDExLjM3NSAwLjMzMzMzNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=';
$checkbox-label-padding-left: 12px;

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.form-check {
  display: flex;
  align-items: center;

  &-input {
    width: $checkbox-width;
    height: $checkbox-height;
    background-color: cat-token('color.ui.background.checkbox.standard');
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    border: $checkbox-border-width solid cat-token('color.ui.border.checkbox');
    border-radius: cat-border-radius('m');
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    cursor: pointer;

    &:checked {
      background-color: cat-token('color.ui.background.checkbox.checked');
      background-image: url($checkbox-checked-bg);
      background-size: $checkbox-checked-bg-size;
      border-color: cat-token('color.ui.background.checkbox.checked');
    }
  }

  &-label {
    @include cat-body('m');
    color: cat-token('color.ui.font.checkbox');
    padding-left: $checkbox-label-padding-left;
    cursor: pointer;
  }
}
