<cat-dialog>
  <cat-dialog-header headline="Headline"></cat-dialog-header>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  </p>
  <cat-dialog-actions>
    <cat-button variant="filled" color="primary">Primary</cat-button>
    <cat-button>Secondary</cat-button>
    <cat-button variant="text" class="cat-mr-auto">Tertiary</cat-button>
  </cat-dialog-actions>
</cat-dialog>
ø