@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
  margin-bottom: $cat-body-margin-bottom;
}

:host(:focus-visible) {
  outline: 2px solid cat-token('color.ui.border.focus');
  outline-offset: 1px;
}

:host([hidden]) {
  display: none;
}

.alert {
  font: inherit;
  color: cat-token-wrap(var(--text));
  background-color: cat-token-wrap(var(--bg), $alpha: 0.1);
  box-shadow: inset 0 0 0 1px cat-token-wrap(var(--border), $alpha: 0.2);
  border-radius: cat-border-radius('m');
  padding: 0.75rem 1rem;
  width: 100%;
}

::slotted(:last-child) {
  margin-bottom: 0 !important;
}

// ----- theme

@mixin theme($theme) {
  .alert-#{$theme} {
    --bg: #{cat-token('color.theme.#{$theme}.bg', $wrap: false)};
    --text: #{cat-token('color.theme.#{$theme}.text', $wrap: false)};
    @if $theme == 'secondary' {
      --border: #{cat-token('color.theme.#{$theme}.bg', $wrap: false)};
    } @else {
      --border: #{cat-token('color.theme.#{$theme}.text', $wrap: false)};
    }
  }
}

@include theme('primary');
@include theme('secondary');
@include theme('success');
@include theme('warning');
@include theme('danger');
