@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:map';

// -----

$-background-colors: (
  'primary': cat-token('color.theme.primary.bg', 0.1),
  'secondary': cat-token('color.theme.secondary.bg', 0.1),
  'success': cat-token('color.theme.success.bg', 0.1),
  'warning': cat-token('color.theme.warning.bg', 0.1),
  'danger': cat-token('color.theme.danger.bg', 0.1)
);
$-icon-colors: (
  'primary': cat-token('color.base.brand.400'),
  'secondary': cat-token('color.base.neutral.400'),
  'success': cat-token('color.base.green.400'),
  'warning': cat-token('color.base.orange.400'),
  'danger': cat-token('color.base.red.400')
);

// -----

:host {
  display: block;
  border-radius: cat-border-radius('l');
  margin-bottom: $cat-body-margin-bottom;
}

:host([hidden]) {
  display: none;
}

:host(:focus-visible) {
  outline: 2px solid cat-token('color.ui.border.focus');
  outline-offset: 1px;
}

.alert {
  font: inherit;
  display: flex;
  gap: 0.5rem;
  padding: 1.25rem;
  border-radius: cat-border-radius('l');
}

.content {
  align-self: center;
}

::slotted(:last-child) {
  margin-bottom: 0 !important;
}

// ----- theme

@mixin theme($theme) {
  .alert-#{$theme} {
    background-color: map.get($-background-colors, $theme);

    cat-icon {
      color: map.get($-icon-colors, $theme);
    }
  }
}

@include theme('primary');
@include theme('secondary');
@include theme('success');
@include theme('warning');
@include theme('danger');
