@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
  margin-bottom: $cat-body-margin-bottom;
}

:host(:focus-visible) {
  outline: 2px solid cat-token('color.ui.border.focus');
  outline-offset: 1px;
}

:host([hidden]) {
  display: none;
}

.alert {
  font: inherit;
  background-color: cat-token-wrap(var(--bg), $alpha: 0.1);
  border-radius: cat-border-radius('l');
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.content {
  align-self: center;
}

::slotted(:last-child) {
  margin-bottom: 0 !important;
}

// ----- theme

@mixin theme($theme) {
  .alert-#{$theme} {
    --bg: #{cat-token('color.theme.#{$theme}.bg', $wrap: false)};

    cat-icon {
      color: cat-token('color.ui.font.alert.#{$theme}');
    }
  }
}

@include theme('primary');
@include theme('secondary');
@include theme('success');
@include theme('warning');
@include theme('danger');
