name: 'Icons: build & test'
on:
  push:
    paths:
      - 'icons/**'
defaults:
  run:
    working-directory: icons
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: icons/package-lock.json
      - name: Install and Build
        run: |
          npm ci
          npm run build
