name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

  publish:
    needs: release
    if: ${{ fromJSON(needs.release.outputs.releases_created) }}
    uses: ./.github/workflows/build-and-publish.yml
    with:
      publish-script: "publish"
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
