@use 'variables' as *;
@use 'mixins' as *;

// :host {
//   display: inline-block;
//   height: 1rem;
//   width: 1rem;
//   color: red;
//   background-color: blue;

//   &[hidden] {
//     display: none;
//   }
// }

cat-icon {
  display: inline-flex;
  flex-shrink: 0;
  vertical-align: middle;
  @include cat-select(none);

  &[hidden] {
    display: none;
  }

  svg {
    fill: currentColor;
    stroke: none;
    transform-origin: center center;
    width: 1em;
    height: 1em;
  }

  // ----- sizes

  @mixin size($size) {
    &.cat-icon-#{$size} svg {
      font-size: cat-size($size) * 0.5;
    }
  }

  @include size(xs);
  @include size(s);
  @include size(m);
  @include size(l);
  @include size(xl);
}
