@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: inline-flex;
  vertical-align: middle;
  @include cat-select(none);
}

:host([hidden]) {
  display: none;
}

span {
  display: inline-flex;
}

svg {
  fill: currentColor;
  stroke: none;
  transform-origin: center center;
  width: 1em;
  height: 1em;
}

// ----- size

@mixin size($size) {
  .icon-#{$size} svg {
    font-size: cat-size($size) * 0.5;
  }
}

@include size('xs');
@include size('s');
@include size('m');
@include size('l');
@include size('xl');
